
<figure class="figure cimage">
            <amp-img
                src="{{ .Destination | absURL }}"
                
                width={{if .Title}} {{index (split .Title "x") 0}} {{else}} "1" {{end}}
                height={{if .Title}} {{index (split .Title "x") 1}} {{else}} "1" {{end}}
                layout="responsive"
                {{ with .Text }} alt="{{ . | safeHTML}}" {{ end }}
                class="">

                <noscript>
                    <img src="{{ .Destination | absURL }}"                
                    {{ with .Text }} alt="{{ . | safeHTML }}" {{ end }} }
                    width={{if .Title}} {{index (split .Title "x") 0}} {{else}} "1" {{end}}
                    height={{if .Title}} {{index (split .Title "x") 1}} {{else}} "1" {{end}}
                    class="responsive-img">

                </noscript>
            </amp-img>
            <figcaption>{{ with .Text }} {{ . | safeHTML }} {{ end }}</figcaption>
</figure>
