<amp-social-share class="social_share_button"
    aria-label="{{ i18n "share" }}" type="system" width="40" height="40"></amp-social-share>
<amp-social-share class="social_share_button"
    aria-label="{{ i18n "shareLinkedin" }}" type="whatsapp" width="40" height="40"></amp-social-share>
<amp-social-share class="social_share_button"
    aria-label="{{ i18n "shareFacebook" }}" type="facebook" width="40" height="40"></amp-social-share>
<amp-social-share class="social_share_button"
    aria-label="{{ i18n "shareTwitter" }}" type="twitter" width="40" height="40"></amp-social-share>
<amp-social-share class="social_share_button"
    aria-label="{{ i18n "sharePinterest" }}" type="pinterest" width="40" height="40"></amp-social-share>
<amp-social-share class="social_share_button"
    aria-label="{{ i18n "shareLinkedin" }}" type="email" width="40" height="40"></amp-social-share>    