<amp-fx-flying-carpet {{ if .Get "height" }}height="{{ .Get "height" }}"{{ end }}>
    <amp-img {{ if .Get "src" }}src="{{ .Get "src" }}"{{ end }}
             {{ if .Get "width" }}width="{{ .Get "width" }}"{{ end }}
             {{ if .Get "height" }}height="{{ .Get "height" }}"{{ end }}
             layout="responsive"
             {{ if .Get "alt" }}alt="{{ range (split .Get "alt" " ") }}{{ . }} {{ end }}"{{ end }}
             {{ if .Get "srcset" }}alt="{{ range (split .Get "srcset" " ") }}{{ . }} {{ end }}"{{ end }}
             {{ if .Get "attribution" }}attribution="{{ .Get "attribution" }}"{{ end }}>
    </amp-img>
</amp-fx-flying-carpet>