<figure class="figure {{ with .caption }}figure--with-caption{{ end }}">
    

            <amp-img
                src="{{ .src | absURL }}"
                width={{with .width}} "{{.}}" {{else}} {{ with .size }} "{{index (split . "x") 0}}" {{ else }} "16" {{ end }}{{end}}
                height={{with .height}} "{{.}} {{else}} {{ with .size }} "{{index (split . "x") 1}}" {{ else }} "9" {{ end }} {{end}}
                layout={{ with .layout }}"{{ . }}"{{else}}"responsive"{{ end }}
                {{ with .alt }}alt="{{ . }}"{{ end }}
                class="figure__image {{ with .class }}{{ . }}{{ end }} {{ with .caption }}figure__image--with-caption{{ end }}">
                <noscript>
                    <img src="{{ .src | absURL }}"                
                    {{ with .alt }}alt="{{ . }}"{{ end }}
                    width={{ with .size }} "{{index (split . "x") 0}}" {{ else }} "16" {{ end }}
                    height={{ with .size }} "{{index (split . "x") 1}}" {{ else }} "9" {{ end }}
                    class="{{ with .class }} {{ . }} {{else}} responsive-img {{ end }}">
                    
                </noscript>
            </amp-img>


    {{ with .caption }}
        <figcaption>
            {{ . }}
        </figcaption>
    {{ end }}

</figure>